@layer base {
  :root {
    --background: {{ .Light.Background }};
    --foreground: {{ .Light.Foreground }};
    --card: {{ .Light.Card }};
    --card-foreground: {{ .Light.CardForeground }};
    --popover: {{ .Light.Popover }};
    --popover-foreground: {{ .Light.PopoverForeground }};
    --primary: {{ .Light.Primary }};
    --primary-foreground: {{ .Light.PrimaryForeground }};
    --secondary: {{ .Light.Secondary }};
    --secondary-foreground: {{ .Light.SecondaryForeground }};
    --muted: {{ .Light.Muted }};
    --muted-foreground: {{ .Light.MutedForeground }};
    --accent: {{ .Light.Accent }};
    --accent-foreground: {{ .Light.AccentForeground }};
    --destructive: {{ .Light.Destructive }};
    --destructive-foreground: {{ .Light.DestructiveForeground }};
    --border: {{ .Light.Border }};
    --input: {{ .Light.Input }};
    --ring: {{ .Light.Ring }};
    --radius: 0.5rem;
{{- if .HasCustom }}
{{- range .Custom }}
    --{{ .Name }}: {{ .Value }};
{{- end }}
{{- end }}
  }

  .dark {
    --background: {{ .Dark.Background }};
    --foreground: {{ .Dark.Foreground }};
    --card: {{ .Dark.Card }};
    --card-foreground: {{ .Dark.CardForeground }};
    --popover: {{ .Dark.Popover }};
    --popover-foreground: {{ .Dark.PopoverForeground }};
    --primary: {{ .Dark.Primary }};
    --primary-foreground: {{ .Dark.PrimaryForeground }};
    --secondary: {{ .Dark.Secondary }};
    --secondary-foreground: {{ .Dark.SecondaryForeground }};
    --muted: {{ .Dark.Muted }};
    --muted-foreground: {{ .Dark.MutedForeground }};
    --accent: {{ .Dark.Accent }};
    --accent-foreground: {{ .Dark.AccentForeground }};
    --destructive: {{ .Dark.Destructive }};
    --destructive-foreground: {{ .Dark.DestructiveForeground }};
    --border: {{ .Dark.Border }};
    --input: {{ .Dark.Input }};
    --ring: {{ .Dark.Ring }};
  }
}
