[Background]
Color={{ ansi . "black" | rgbDecimal }}

[BackgroundFaint]
Color={{ ansi . "black" | rgbDecimal }}

[BackgroundIntense]
Color={{ ansi . "black" | rgbDecimal }}

[Color0]
Color={{ ansi . "black" | rgbDecimal }}

[Color0Faint]
Color={{ ansi . "black" | rgbDecimal }}

[Color0Intense]
Color={{ ansi . "brightblack" | rgbDecimal }}

[Color1]
Color={{ ansi . "red" | rgbDecimal }}

[Color1Faint]
Color={{ ansi . "red" | rgbDecimal }}

[Color1Intense]
Color={{ ansi . "brightred" | rgbDecimal }}

[Color2]
Color={{ ansi . "green" | rgbDecimal }}

[Color2Faint]
Color={{ ansi . "green" | rgbDecimal }}

[Color2Intense]
Color={{ ansi . "brightgreen" | rgbDecimal }}

[Color3]
Color={{ ansi . "yellow" | rgbDecimal }}

[Color3Faint]
Color={{ ansi . "yellow" | rgbDecimal }}

[Color3Intense]
Color={{ ansi . "brightyellow" | rgbDecimal }}

[Color4]
Color={{ ansi . "blue" | rgbDecimal }}

[Color4Faint]
Color={{ ansi . "blue" | rgbDecimal }}

[Color4Intense]
Color={{ ansi . "brightblue" | rgbDecimal }}

[Color5]
Color={{ ansi . "magenta" | rgbDecimal }}

[Color5Faint]
Color={{ ansi . "magenta" | rgbDecimal }}

[Color5Intense]
Color={{ ansi . "brightmagenta" | rgbDecimal }}

[Color6]
Color={{ ansi . "cyan" | rgbDecimal }}

[Color6Faint]
Color={{ ansi . "cyan" | rgbDecimal }}

[Color6Intense]
Color={{ ansi . "brightcyan" | rgbDecimal }}

[Color7]
Color={{ ansi . "white" | rgbDecimal }}

[Color7Faint]
Color={{ ansi . "white" | rgbDecimal }}

[Color7Intense]
Color={{ ansi . "brightwhite" | rgbDecimal }}

[Foreground]
Color={{ ansi . "white" | rgbDecimal }}

[ForegroundFaint]
Color={{ ansi . "white" | rgbDecimal }}

[ForegroundIntense]
Color={{ ansi . "brightwhite" | rgbDecimal }}

[General]
Blur=false
ColorRandomization=false
Description=Tinct {{ if eq .ThemeType "dark" }}Dark{{ else }}Light{{ end }}
Opacity=1
Wallpaper=
