# Test Template
# This is a test template for the template loader tests

This template is used to verify that:
- Embedded templates can be loaded
- Custom templates can override embedded ones
- Template dumping works correctly

Template variables would go here: {{ .TestVariable }}
